.footer-container{
    background-color: black;
    padding:10px 22px;
    width: 100%;
    bottom: 0;
    position: absolute;
    text-align: justify;
    display: flex;
    justify-content: space-around;
}

.footer-container-logo{
    margin-bottom: 20px; 
      
}

.footer-container-logo img{
    max-width: 140px;
    margin-left: 44px;
}



.footer-container-navegation-list{
    list-style: none;
    display: flex;
    padding-bottom: 2px;
}

.footer-container-navegation a{
  justify-content: space-between; 
  color: whitesmoke; 
  text-decoration: none;
  display: inline;
  margin-right: 10px;
  
}

.footer-container-right{
    text-align: right;
}

.footer-container-socialmedia{
    margin-bottom: 20px;
    margin-right: 50px;
}

.footer-container-socialmedia a{
    font-size: 1.8em;
    margin-right: 12px;
}

.footer-container-socialmedia img{
    width: 7.5%;
    
}

.footer-container-copyright{
    color: darkgray;
}